<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>G</key>
	<dict>
		<key>G1F13</key>
		<string>5</string>
		<key>G2F14</key>
		<string>6</string>
		<key>G3F15</key>
		<string>7</string>
		<key>G4F16</key>
		<string>1</string>
		<key>G5F17</key>
		<string>2</string>
		<key>G6F18</key>
		<string>3</string>
		<key>G7</key>
		<string>4</string>
		<key>G8</key>
		<string>5</string>
		<key>G9</key>
		<string>6</string>
		<key>G10</key>
		<string>7</string>
		<key>G11</key>
		<string>1</string>
		<key>G12</key>
		<string>2</string>
		<key>G13</key>
		<string>3</string>
		<key>G14</key>
		<string>4</string>
		<key>G15</key>
		<string>5</string>
		<key>G16</key>
		<string>6</string>
		<key>G17</key>
		<string>7</string>
		<key>G18</key>
		<string>1</string>
	</dict>
	<key>F</key>
	<dict>
		<key>F1</key>
		<string>7</string>
		<key>F2</key>
		<string>1</string>
		<key>F3</key>
		<string>2</string>
		<key>F4</key>
		<string>3</string>
		<key>F5</key>
		<string>4</string>
		<key>F6</key>
		<string>5</string>
		<key>F7</key>
		<string>6</string>
		<key>F8</key>
		<string>7</string>
		<key>F9</key>
		<string>1</string>
		<key>F10</key>
		<string>2</string>
		<key>F11</key>
		<string>3</string>
		<key>F12</key>
		<string>4</string>
		<key>F13G1</key>
		<string>5</string>
		<key>F14G2</key>
		<string>6</string>
		<key>F15G3</key>
		<string>7</string>
		<key>F16G4</key>
		<string>1</string>
		<key>F17G5</key>
		<string>2</string>
		<key>F18G6</key>
		<string>3</string>
	</dict>
	<key>GF</key>
	<dict>
        <key>G1F13</key>
        <string>5</string>
        <key>G2F14</key>
        <string>6</string>
        <key>G3F15</key>
        <string>7</string>
        <key>G4F16</key>
        <string>1</string>
        <key>G5F17</key>
        <string>2</string>
        <key>G6F18</key>
        <string>3</string>
		<key>G7</key>
		<string>4</string>
		<key>G8</key>
		<string>5</string>
		<key>G9</key>
		<string>6</string>
		<key>G10</key>
		<string>7</string>
		<key>G11</key>
		<string>1</string>
		<key>G12</key>
		<string>2</string>
		<key>G13</key>
		<string>3</string>
		<key>G14</key>
		<string>4</string>
		<key>G15</key>
		<string>5</string>
		<key>G16</key>
		<string>6</string>
		<key>G17</key>
		<string>7</string>
		<key>G18</key>
		<string>1</string>
		<key>F1</key>
		<string>7</string>
		<key>F2</key>
		<string>1</string>
		<key>F3</key>
		<string>2</string>
		<key>F4</key>
		<string>3</string>
		<key>F5</key>
		<string>4</string>
		<key>F6</key>
		<string>5</string>
		<key>F7</key>
		<string>6</string>
		<key>F8</key>
		<string>7</string>
		<key>F9</key>
		<string>1</string>
		<key>F10</key>
		<string>2</string>
		<key>F11</key>
		<string>3</string>
		<key>F12</key>
		<string>4</string>
        <key>F13G1</key>
        <string>5</string>
        <key>F14G2</key>
        <string>6</string>
        <key>F15G3</key>
        <string>7</string>
        <key>F16G4</key>
        <string>1</string>
        <key>F17G5</key>
        <string>2</string>
        <key>F18G6</key>
        <string>3</string>
	</dict>
</dict>
</plist>
